$black-color: #0A0A0A;
$white-color: #FFF;

$background-color-header: #E7E7E2;

$font-family: 'Prompt', sans-serif;

$tablet-media: 1200px;
$hide-looks-media: 995px;
$status-tablet-media: 768px;
$mobile-media: 600px;